@{
    ViewBag.Title = Model.Article.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model NPC.Application.MianModels.Homes.DetailModel
<tr>
    <td bgcolor="#FFFFFF" align="left">
        <div id="clearfloat"></div>
        <div id="mainContent">
            <div id="showBox">
                <div class="show_title">
                    <h1>@Model.Article.Title</h1>
                </div>
                <div class="show_time">
                    日期：@Model.Article.RecordDescription.DateOfCreate.ToString("yyyy-MM-dd") &nbsp;&nbsp;&nbsp;&nbsp; 
                </div>
                <div class="show_txt">
                    @Html.Raw(Model.Article.Content)
                </div>
            </div>
            @Html.Action("RightBar", "Home")
        </div>
        <div class="clearfloat"></div>
    </td>
</tr>
