<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="path" value="c:\1.xls"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=Fluent;User =sa;password=19850320;"/>
    <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=Fluent;Integrated Security=SSPI;"/>-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
