<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="Mappings" value="NPC.Domain.Model.Mappings"/>
    <add key="LoginUrl" value="~/Home/Login" />
    <add key="HomeUrl" value="~/Home/Index" />
    <add key="DefaultUnitId" value="327591aa-713f-420a-8a75-a12f016d8d14" />
    <add key="cqrd.pinghu.gov.cn" value="55d9b180-effa-40f1-b1dd-a13e00f3c416"/><!--曹桥-->
    <add key="xcrd.pinghu.gov.cn" value="b09cfb9f-495c-4bf1-b4a7-a13e00f46622"/><!--新仓-->
    <add key="xdrd.pinghu.gov.cn" value="75a6d344-0c4a-40f2-b791-a13e00f3dc46"/><!--新埭-->
    <add key="dsgrd.pinghu.gov.cn" value="62c16b17-4feb-4206-a0a2-a13e00f45817"/><!--独山港-->
    <add key="dhrd.pinghu.gov.cn" value="f9577a01-f9b7-4fbe-8f9d-a13e00f3ae39"/><!--当湖-->
    <add key="gcrd.pinghu.gov.cn" value="fbe8aadf-db3f-450d-8b48-a13e00f431d9"/><!--广陈-->
    <add key="zdrd.pinghu.gov.cn" value="22a359e0-b088-429d-b12f-a13f00decbfb"/><!--钟埭-->
    <add key="zprd.pinghu.gov.cn" value="206b40e8-a899-4894-ba86-a13e00f4836b"/><!--乍浦-->
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=127.0.0.1\chenchunwei;Initial Catalog=NPC;User=sa;Password=123465"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
