@model   NPC.Application.MianModels.PagerModel
<div class="page" style="float: right">
    @if (!Model.Pagination.IsFirstpage)
    {
        <a href="@Model.PageUrl(Model.Pagination.PageIndex - 1)">下一页 </a> 
    }
    @if (!Model.Pagination.IsLastPage)
    {
        <a href="@Model.PageUrl(Model.Pagination.PageIndex + 1)">下一页 </a> 
    }
    @if (!Model.Pagination.IsFirstpage)
    {
        <a href="@Model.PageUrl(1)">首页</a>
    }
    @if (Model.Pagination.TotalPage > 0)
    {
        @Html.Raw("共" + Model.Pagination.TotalPage + "页 &nbsp;&nbsp; ")
    }
</div>
@*<div id="div_page_roll">
    <span class="PageNavigatordisable">
        <font face="webdings">9</font>
        &nbsp;
        <font face="webdings">3</font>
    </span>&nbsp;
    <a href="http://ldrd.pinghu.gov.cn/category.asp?catid=106&amp;page=2">
        <span class="PageNavigatorenable"><font face="webdings">4</font></span>
    </a>
    &nbsp;&nbsp;
    <a href="http://ldrd.pinghu.gov.cn/category.asp?catid=106&amp;page=2"><span class="PageNavigatorenable"><font face="webdings">:</font></span></a>
    &nbsp;&nbsp;页 : &nbsp;&nbsp;<span class="Pagenumselect2">[1]</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://ldrd.pinghu.gov.cn/category.asp?catid=106&amp;page=2"><span class="Pagenum2">[2]</span></a>
    &nbsp;&nbsp;
    <span class="Pagehead">1/2&nbsp;&nbsp;&nbsp;15/页&nbsp;&nbsp;&nbsp;&nbsp;总共 :18 项
    </span>&nbsp;&nbsp;
</div>*@
