[class^="micon-"],[class*=" micon-"] { display: inline-block;width: 14px;height: 14px;*margin-right: .3em;line-height: 14px;vertical-align: text-top;background-image: url("../img/glyphicons-halflings.png"); background-position: 14px 14px;background-repeat: no-repeat;}
[class^="micon-"]:last-child,[class*=" micon-"]:last-child {*margin-left: 0;}
.micon-last-child {*margin-left: 0;}
.micon{display: inline-block;width: 14px;height: 14px;*margin-right: .3em;line-height: 14px;vertical-align: text-top;background-image: url("../img/glyphicons-halflings.png");background-position: 14px 14px;background-repeat: no-repeat;}
.micon-white {background-image: url("../img/glyphicons-halflings-white.png");}
.micon-glass {background-position: 0 0;}
.micon-music {background-position: -24px 0;}
.micon-search { background-position: -48px 0;}
.micon-envelope { background-position: -72px 0;}
.micon-heart {background-position: -96px 0;}
.micon-star { background-position: -120px 0;}
.micon-star-empty {background-position: -144px 0;}
.micon-user {background-position: -168px 0;}
.micon-film { background-position: -192px 0;}
.micon-th-large { background-position: -216px 0;}
.micon-th { background-position: -240px 0;}
.micon-th-list { background-position: -264px 0;}
.micon-ok { background-position: -288px 0;}
.micon-remove { background-position: -312px 0;}
.micon-zoom-in { background-position: -336px 0;}
.micon-zoom-out {background-position: -360px 0;}
.micon-off { background-position: -384px 0;}
.micon-signal { background-position: -408px 0;}
.micon-cog {background-position: -432px 0;}
.micon-trash {  background-position: -456px 0;}
.micon-home { background-position: 0 -24px;}
.micon-file { background-position: -24px -24px;}
.micon-time {background-position: -48px -24px;}
.micon-road { background-position: -72px -24px;}
.micon-download-alt { background-position: -96px -24px;}
.micon-download { background-position: -120px -24px;}
.micon-upload { background-position: -144px -24px;}
.micon-inbox {background-position: -168px -24px;}
.micon-play-circle { background-position: -192px -24px;}
.micon-repeat { background-position: -216px -24px;}
.micon-refresh { background-position: -240px -24px;}
.micon-list-alt {background-position: -264px -24px;}
.micon-lock {background-position: -287px -24px;}
.micon-flag {background-position: -312px -24px;}
.micon-headphones {background-position: -336px -24px;}
.micon-volume-off { background-position: -360px -24px;}
.micon-volume-down {background-position: -384px -24px;}
.micon-volume-up {background-position: -408px -24px;}
.micon-qrcode { background-position: -432px -24px;}
.micon-barcode { background-position: -456px -24px;}
.micon-tag { background-position: 0 -48px;}
.micon-tags { background-position: -25px -48px;}
.micon-book { background-position: -48px -48px;}
.micon-bookmark { background-position: -72px -48px;}
.micon-print { background-position: -96px -48px;}
.micon-camera {background-position: -120px -48px;}
.micon-font { background-position: -144px -48px;}
.micon-bold { background-position: -167px -48px;}
.micon-italic { background-position: -192px -48px;}
.micon-text-height { background-position: -216px -48px;}
.micon-text-width {background-position: -240px -48px;}
.micon-align-left { background-position: -264px -48px;}
.micon-align-center {background-position: -288px -48px;}
.micon-align-right {background-position: -312px -48px;}
.micon-align-justify { background-position: -336px -48px;}
.micon-list { background-position: -360px -48px;}
.micon-indent-left { background-position: -384px -48px;}
.micon-indent-right { background-position: -408px -48px;}
.micon-facetime-video {background-position: -432px -48px;}
.micon-picture {background-position: -456px -48px;}
.micon-pencil {background-position: 0 -72px;}
.micon-map-marker {background-position: -24px -72px;}
.micon-adjust { background-position: -48px -72px;}
.micon-tint {  background-position: -72px -72px;}
.micon-edit { background-position: -96px -72px;}
.micon-share {background-position: -120px -72px;}
.micon-check {background-position: -144px -72px;}
.micon-move {background-position: -168px -72px;}
.micon-step-backward { background-position: -192px -72px;}
.micon-fast-backward {background-position: -216px -72px;}
.micon-backward { background-position: -240px -72px;}
.micon-play {background-position: -264px -72px;}
.micon-pause {background-position: -288px -72px;}
.micon-stop {background-position: -312px -72px;}
.micon-forward {background-position: -336px -72px;}
.micon-fast-forward {background-position: -360px -72px;}
.micon-step-forward { background-position: -384px -72px;}
.micon-eject { background-position: -408px -72px;}
.micon-chevron-left {background-position: -432px -72px;}
.micon-chevron-right {background-position: -456px -72px;}
.micon-plus-sign { background-position: 0 -96px;}
.micon-minus-sign { background-position: -24px -96px;}
.micon-remove-sign {background-position: -48px -96px;}
.micon-ok-sign { background-position: -72px -96px;}
.micon-question-sign { background-position: -96px -96px;}
.micon-info-sign {background-position: -120px -96px;}
.micon-screenshot { background-position: -144px -96px;}
.micon-remove-circle {background-position: -168px -96px;}
.micon-ok-circle { background-position: -192px -96px;}
.micon-ban-circle {background-position: -216px -96px;}
.micon-arrow-left {background-position: -240px -96px;}
.micon-arrow-right {background-position: -264px -96px;}
.micon-arrow-up {background-position: -289px -96px;}
.micon-arrow-down {background-position: -312px -96px;}
.micon-share-alt {background-position: -336px -96px;}
.micon-resize-full {background-position: -360px -96px;}
.micon-resize-small {background-position: -384px -96px;}
.micon-plus {background-position: -408px -96px;}
.micon-minus {background-position: -433px -96px;}
.micon-asterisk {background-position: -456px -96px;}
.micon-exclamation-sign {background-position: 0 -120px;}
.micon-gift {background-position: -24px -120px;}
.micon-leaf {background-position: -48px -120px;}
.micon-fire {background-position: -72px -120px;}
.micon-eye-open {background-position: -96px -120px;}
.micon-eye-close {background-position: -120px -120px;}
.micon-warning-sign {background-position: -144px -120px;}
.micon-plane {background-position: -168px -120px;}
.micon-calendar {background-position: -192px -120px;}
.micon-random {background-position: -216px -120px;}
.micon-comment {background-position: -240px -120px;}
.micon-magnet {background-position: -264px -120px;}
.micon-chevron-up {background-position: -288px -120px;}
.micon-chevron-down {background-position: -313px -119px;}
.micon-retweet {background-position: -336px -120px;}
.micon-shopping-cart {background-position: -360px -120px;}
.micon-folder-close {background-position: -384px -120px;}
.micon-folder-open {background-position: -408px -120px;}
.micon-resize-vertical {background-position: -432px -119px;}
.micon-resize-horizontal {background-position: -456px -118px;}
.micon-hdd {background-position: 0 -144px;}
.micon-bullhorn {background-position: -24px -144px;}
.micon-bell {background-position: -48px -144px;}
.micon-certificate {background-position: -72px -144px;}
.micon-thumbs-up {background-position: -96px -144px;}
.micon-thumbs-down {background-position: -120px -144px;}
.micon-hand-right {background-position: -144px -144px;}
.micon-hand-left {background-position: -168px -144px;}
.micon-hand-up {background-position: -192px -144px;}
.micon-hand-down {background-position: -216px -144px;}
.micon-circle-arrow-right {background-position: -240px -144px;}
.micon-circle-arrow-left {background-position: -264px -144px;}
.micon-circle-arrow-up {background-position: -288px -144px;}
.micon-circle-arrow-down {background-position: -312px -144px;}
.micon-globe {background-position: -336px -144px;}
.micon-wrench {background-position: -360px -144px;}
.micon-tasks {background-position: -384px -144px;}
.micon-filter {background-position: -408px -144px;}
.micon-briefcase {background-position: -432px -144px;}
.micon-fullscreen {background-position: -456px -144px;}