<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=NPC;Integrated Security=SSPI;"/>
  </connectionStrings>
  <appSettings>
    <add key="Mappings" value="NPC.Domain.Model.Mappings"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
