<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="urlOfSmsService" value="http://10.70.×.×:8080/smsservice/"/>
    <add key="urlOfMmsService" value="http://10.70.×.×:8080/smsservice/"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>
