@charset "utf-8";
 
#sddm {list-style:none;padding:0px;margin:0 auto;float:left;display:inline;width:998px;}
#sddm li {background:url(../img/interval.jpg) no-repeat right center;width:130px;float:left;overflow:hidden;font-family:"微软雅黑";font-size:14px;padding:0px;margin:0px;color:#fff;text-align:center;}
#sddm li a {color:#fff;text-decoration:none;display:block;}
#sddm li a:hover,#sddm li a .current {background:#8b0000;width:134px;margin-left:-2px;color:#fff;}
#sddm div {position: absolute;visibility: hidden;text-align: center;margin: 0;padding:0px;background: #EAEBD8;border: 1px solid #cc0000;height:28px;line-height:28px;overflow:hidden;}
#sddm div a {text-align: center;position: relative;display: block;float:left;margin: 0;padding: 0px 10px;height:28px;line-height:28px;text-decoration: none;background: #EAEBD8;color: #cc0000;font: 12px;}
#sddm div a:hover {background: #cc0000;color: #FFF;text-align: center;width:90px;padding: 0px;}
