<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Mappings" value="NPC.Domain.Model.Mappings"/>
    <add key="cqrd.pinghu.gov.cn" value="55d9b180-effa-40f1-b1dd-a13e00f3c416"/>
    <!--曹桥-->
    <add key="xcrd.pinghu.gov.cn" value="b09cfb9f-495c-4bf1-b4a7-a13e00f46622"/>
    <!--新仓-->
    <add key="xdrd.pinghu.gov.cn" value="75a6d344-0c4a-40f2-b791-a13e00f3dc46"/>
    <!--新埭-->
    <add key="dsgrd.pinghu.gov.cn" value="62c16b17-4feb-4206-a0a2-a13e00f45817"/>
    <!--独山港-->
    <add key="dhrd.pinghu.gov.cn" value="f9577a01-f9b7-4fbe-8f9d-a13e00f3ae39"/>
    <!--当湖-->
    <add key="gcrd.pinghu.gov.cn" value="fbe8aadf-db3f-450d-8b48-a13e00f431d9"/>
    <!--广陈-->
    <add key="zdrd.pinghu.gov.cn" value="22a359e0-b088-429d-b12f-a13f00decbfb"/>
    <!--钟埭-->
    <add key="zprd.pinghu.gov.cn" value="206b40e8-a899-4894-ba86-a13e00f4836b"/>
    <!--乍浦-->
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=NPC;Integrated Security=SSPI;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>
