<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Mappings" value="NPC.Domain.Model.Mappings"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=NPC;Integrated Security=SSPI;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>
