<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="serviceSection" type="Fluent.Infrastructure.ServiceLocation.Configuration.ServiceSection, Fluent.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="AuthencationSection" type="Fluent.Infrastructure.Web.HttpMoudles.Configuration.AuthencationSection" />
  </configSections>
  <serviceSection assemblyName="NPC.Application">
    <services>
      <service key="Fluent.Infrastructure.Web.HttpMoudles.IUserService" className="NPC.Application.UserService,NPC.Application" />
      <service key="Fluent.Infrastructure.Web.HttpMoudles.IAuthenticationHandler"
               className="NPC.Website.Manage.Internals.CustomAuthenticationHandler,NPC.Website.Manage" />
    </services>
  </serviceSection>
  <AuthencationSection>
    <ignorePaths>
      <ignorePath path="~/Content"></ignorePath>
      <ignorePath path="~/Scripts"></ignorePath>
      <ignorePath path="~/Extension/"></ignorePath>
      <ignorePath path="~/Attachments/"></ignorePath>
      <ignorePath path="~/Video/"></ignorePath>
    </ignorePaths>
    <ignorePostfixs>
      <ignorePostfix postfix=".ico"></ignorePostfix>
      <ignorePostfix postfix=".css"></ignorePostfix>
      <ignorePostfix postfix=".jpg"></ignorePostfix>
      <ignorePostfix postfix=".js"></ignorePostfix>
      <ignorePostfix postfix=".png"></ignorePostfix>
      <ignorePostfix postfix=".gif"></ignorePostfix>
      <ignorePostfix postfix=".bpm"></ignorePostfix>
    </ignorePostfixs>
  </AuthencationSection>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=NPC;Integrated Security=SSPI;"/>
  </connectionStrings>
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="Mappings" value="NPC.Domain.Model.Mappings,Fluent.Permission"/>
    <add key="LoginUrl" value="~/Home/Login" />
    <add key="HomeUrl" value="~/Home/Index" />
    <add key="ManageUnitId" value="59116356-f270-4845-bb7c-a1050188e6ad" />
    <add key="AttachmentsPath" value="D:\Git\NPC\NPC.Website.Manage" />
    <add key="NpcAuditJieKouRenUnitId" value="9dbc9566-4dc0-484a-a1a7-a18c0184bceb" />
    <add key="GovAuditJieKouRenUnitId" value="8c31e869-499d-4bca-86f8-a16b0164219d" />
    <add key="CommonMessageSendUnitId" value="59116356-f270-4845-bb7c-a1050188e6ad" />
  </appSettings>

  <system.web>
    <httpRuntime maxRequestLength="100960" requestValidationMode="2.0"></httpRuntime>
    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>

    <validation validateIntegratedModeConfiguration="true"/>
    <handlers>
      <add verb="*" path="/manage/Attachments/*.jpg"
type=" Fluent.Infrastructure.Web.HttpHandlers.ThumbnailHttppHandler, Fluent.Infrastructure.Web, Version=1.0.0.0, Culture=neutral" name="ThumbnailHttppHandlerjpg" />
      <add verb="*" path="/manage/Attachments/*.png"
type=" Fluent.Infrastructure.Web.HttpHandlers.ThumbnailHttppHandler, Fluent.Infrastructure.Web, Version=1.0.0.0, Culture=neutral" name="ThumbnailHttppHandlerpng" />
      <add verb="*" path="/manage/Attachments/*.gif"
type=" Fluent.Infrastructure.Web.HttpHandlers.ThumbnailHttppHandler, Fluent.Infrastructure.Web, Version=1.0.0.0, Culture=neutral" name="ThumbnailHttppHandlergif" />
      <add verb="*" path="/manage/Attachments/*.bmp"
type=" Fluent.Infrastructure.Web.HttpHandlers.ThumbnailHttppHandler, Fluent.Infrastructure.Web, Version=1.0.0.0, Culture=neutral" name="ThumbnailHttppHandlerbmp" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="authencation"/>
      <add name="authencation" type="Fluent.Infrastructure.Web.HttpMoudles.AuthenticationHttpMoudle,Fluent.Infrastructure.Web"/>
    </modules>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
