<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=Npc;Integrated Security=SSPI;"/>
  </connectionStrings>
  <appSettings>
    <add key="Mappings" value="NPC.Domain.Model.Mappings"/>
    <!--<add key="AttachmentsPath" value="D:\Git\NPC\NPC.Website.Manage" />-->
    <add key="AttachmentsPath" value="E:\npc\managefolder\Attachments" />
  </appSettings>
</configuration>