.jcarousel-skin-viceDirectors .jcarousel-container {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.jcarousel-skin-viceDirectors .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-viceDirectors .jcarousel-container-horizontal {
    width: 192px;
    padding: 0px 0px;
}

.jcarousel-skin-viceDirectors .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-viceDirectors .jcarousel-clip-horizontal {
    width: 192px;
    height: 110px;
    margin-top: 2px;

}

.jcarousel-skin-viceDirectors .jcarousel-item {
    width: 152px;
    height: 110px;
    text-align: center;
}
.jcarousel-skin-viceDirectors .jcarousel-item img{
    margin: auto;
}
.jcarousel-skin-viceDirectors .jcarousel-item:hover,
.jcarousel-skin-viceDirectors .jcarousel-item:focus {
    border-color: #808080;
}

.jcarousel-skin-viceDirectors .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 0px;
}

.jcarousel-skin-viceDirectors .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 0px;
	margin-right: 0;
}
 
.jcarousel-skin-viceDirectors .jcarousel-item-placeholder {
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-viceDirectors .jcarousel-next-horizontal 
{
}
 .jcarousel-skin-viceDirectors .jcarousel-direction-rtl .jcarousel-next-horizontal {
 }

.jcarousel-skin-viceDirectors .jcarousel-next-horizontal:hover,
.jcarousel-skin-viceDirectors .jcarousel-next-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-viceDirectors .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-viceDirectors .jcarousel-next-disabled-horizontal,
.jcarousel-skin-viceDirectors .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-viceDirectors .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-viceDirectors .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-viceDirectors .jcarousel-prev-horizontal {
     
}

.jcarousel-skin-viceDirectors .jcarousel-direction-rtl .jcarousel-prev-horizontal {
}

.jcarousel-skin-viceDirectors .jcarousel-prev-horizontal:hover,
.jcarousel-skin-viceDirectors .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-viceDirectors .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-viceDirectors .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-viceDirectors .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-viceDirectors .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-viceDirectors .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}
 