<div class="grouplevel">
    组织部门管理
</div>

<div class="groupleve2" onmouseover="this.className='groupleve2on';" onmouseout="this.className='groupleve2';"
                 style="cursor: pointer;" onclick="window.location.href='@Url.Action("List", "Units")'">
    组织管理
</div>
