@{
    ViewBag.Title = "NotSupport";
    this.Layout = null;
}
<h2>
    为了系统更好的为您工作，系统不支持IE6等浏览器，我们推荐您使用以下浏览器访问系统！</h2>
<br />
chorm:<a href="http://chrome.google.com">http://chrome.google.com</a><br />
火狐：<a href="http://www.firefox.com.cn/download/ ">http://www.firefox.com.cn/download/ </a><br />
IE9：<a href="http://windows.microsoft.com/zh-CN/internet-explorer/downloads/ie-9/worldwide-languages">http://windows.microsoft.com/zh-CN/internet-explorer/downloads/ie-9/worldwide-languages</a><br />

